{% extends "base.html" %}

{% block title %}URL Scraper{% endblock %}
{% block body %}

<div class="jumbotron">

  <form method="POST" action="/">

    <div class="form-group">
      {{ form.url.label(class_="form-label") }} 
      {{ form.url(class_="form-control") }}

      {% if form.url.errors %}
        <ul class="invalid-feedback">
        	{% for error in form.url.errors %}
        		<li>{{ error }}</li>
            {% endfor %}
        </ul>
      {% endif %}

    </div>
    {{ form.submit(class_="btn btn-primary") }}
      
  </form>

</div>
{% endblock %}